@import url('file:///C:/Users/Admin/Downloads/undraw_beach_day_cser.svg');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    width: 90%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(153, 106, 19, 0.774);
}
.container {
    width: 88%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(153, 106, 19, 0.774);
}
.form-image {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: rgba(153, 106, 19, 0.363);
   padding: 1rem;
}
.form-image img {
    width: 31rem;
}

form {
    width: 115%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(153, 106, 19, 0.671);
    padding: 3rem;
}
.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button{
    display: flex;
    align-items: center;
}
.login-button button {
    border: none;
    background-color:rgb(187, 118, 61) ;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.login-button button:hover{
    background-color: rgb(253, 145, 4);
}
.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}
.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: rgb(253, 145, 4);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6 rgb(253, 145, 4);
}

.input-box input:hover {
    background-color: rgba(253, 145, 4, 0.308);
} 
.input-box input:focus-visible {
    outline: 1px solid  rgba(253, 145, 4, 0.5);
}

.input-box label::placeholder {
    color: rgba(253, 145, 4, 0.308);
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}
.gender-input input {
    margin-right: 0.35rem;
}
.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}
.cadastrar-button button {
    width: 100%;
    margin-top: 1.0rem;
    border: none;
    background-color: rgba(253, 145, 4, 0.308);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.cadastrar-button button:hover{
    background-color: rgba(253, 145, 4, 0.856);
}
.cadastrar-button button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}
@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}