
/* TRAZENDO FONTS */
@font-face {
    font-family: Oitobit;
    src: url(../font/8-BIT\ WONDER.TTF);
  }
  
  @font-face {
    font-family: Oitobit-txt;
    src: url(../font/superstar_memesbruh03.ttf);
  }
  
  @font-face {
    font-family: Oitobit-txt2;
    src: url(../font/superstarorig_memesbruh03.ttf);
  }
  
  /* DECLARANDO VARIÁVEIS DAS FONTS */
  :root {
    --font-doistexto: 'Oitobittxt2'; 
    --font-titulo: 'Oitobit';
    --font-texto: 'Oitobit-txt'
    
  }
.h1{
    font-family: var(--font-titulo);
}
.form{
    margin-inline: 400px;
    margin-top: 150px;

}

/*-----Responsividade-------*/
@media screen and (max-width: 1330px) {
    .form-image {
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}