
/* TRAZENDO FONTS */
@font-face {
    font-family: Oitobit;
    src: url(../font/8-BIT\ WONDER.TTF);
  }
  
  @font-face {
    font-family: Oitobit-txt;
    src: url(../font/superstar_memesbruh03.ttf);
  }
  
  @font-face {
    font-family: Oitobit-txt2;
    src: url(../font/superstarorig_memesbruh03.ttf);
  }
  
  /* DECLARANDO VARIÁVEIS DAS FONTS */
  :root {
    --font-doistexto: 'Oitobittxt2'; 
    --font-titulo: 'Oitobit';
    --font-texto: 'Oitobit-txt'
    
  }
body{
    background-color: #0a0a0af1;
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.conteudo{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.titulo{
    margin-bottom: 5%;
    font-family: var(--font-titulo)!important;
    text-align: center;
    font-size: 2rem;
}
.explicacao{
    margin-bottom: 5%;
    text-align: center;
    font-size: 1.25rem;
    font-family:var(--font-texto);
}

.form-label{
    font-family: var(--font-texto);
    font-size: 1rem;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.row{
    width: 50rem;
}


input{
    text-align: center;
    font-family:var(--font-doistexto);
    font-size:smaller;
}

input::placeholder{
    font-size: 0.7rem;
}

main{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

#buscaCep{
    margin-top: 2em;
}

.envia{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}


.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
}


.alertaDiv{
    display: none;
    justify-content: center;
}

.alertaErro {
    color: red;
    text-align: center;
    font-size: 1.70rem;
    font-family:'rainyhearts';
}
@media (max-width: 768px) {
    .row{
        width: 30em;
    }
}

@media(max-width:500px) {
    .row{
        width: 20rem;
    }
}