*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    display: flexbox;
    font-family: "Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212529;
}

/* DIV DO TITULO */

.title {
    margin-top: 50px;
}

.title h1 {
    font-size: 70px;
    color: #0dcaf0;
    font-weight: bold;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 1%;
    text-transform: uppercase;
}

#subtitulo {
    width: 60%;
    font-size: 16px;
    text-align: center;
    margin: auto;
    color: #6c757d;
    margin-top: 0.5%;
    
}

hr {
    width: 50%;
    margin: auto;
    color: white;
}


/* CONTAINER DOS CARDS */

.card{
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    height: 360px;
    width: 296px;
    margin: 20px 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.069);
}
.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 100;
}
.swiper{
    width: 950px;
    
}
section{
    position: relative;
    width: 1075px;
    margin: auto;
    margin-top: 1%;
    display: flex;
    align-content: center;
}

section .card .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 2px;
    background: #fff;
    box-shadow: 0px -1px 4px 2px rgba(0, 0, 0, 0.25);
}
section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.box1{
    position: absolute;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #0dcaf0 35%,
    #20c997 145%);
}
.box2{
    position: absolute;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #0dcaf0 35%,
    #20c997 145%);
}

.box3{
    position: absolute;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #0dcaf0 35%,
    #20c997 145%);
}
.card .media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .media-icons i{
    color: #fff;
    opacity: 0.7;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.card .media-icons i:hover{
    opacity: 1;
}
.card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.name-profession .name{
    font-size: 25px;
    font-weight: 800;
    color: #222;
}
.name-profession .profession{
    font-size: 15px;
    font-weight: 500;
    color: #333;
}
.card .rating{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.card .rating i{
    font-size: 18px;
    margin: 0 2px;
    color: orange;
}
section .card {
    display: flex;
    text-align: center;
    color: #444;
    margin-top: 45px;
    margin-bottom: 5px; 
}
.card .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.card .b1 button{
    background: #0dcaf0;
}
.card .b2 button{
    background: #0dcaf0;
}
.card .b3 button{
    background: #0dcaf0;
}
.card .button button{
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.card .button button:hover{
    opacity: 0.8;
}
.swiper-pagination{
    margin-top: 0%;
    position: absolute;
    top: 510px;
   
}
.swiper-pagination-bullet{
    height: 15px;
    width: 15px;
    border-radius: 25px;
    background: #0dcaf0;
}
.swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    color: white;
    transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: white;
}

.container {
    margin-top: 150px;
}