/*-------bloco de fundo do cadastro*/
.tela{
    background-color: rgba(153, 106, 19, 0.774);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 60px;
    border-radius: 15px;
    color: white;
}
/*------formulário-----*/
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}
/*------botão de de enviar-----*/
button{
    background-color:rgb(187, 118, 61) ;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
button:hover {
       background-color: rgb(253, 145, 4);
}
/*-------Recuperação de senha, link---*/
.rec{
    text-align: right;
    font-size: 80%;
    padding: 2%;
}
/*------cadastra-se, link-----*/
.cade{
    text-align: right;
    font-size: 90%;
    padding: 2%;
}