.botao1 {
    margin-inline-end: 5px;
}
.main {
    margin-right: 180px;
    margin-left: 180px;
}
.table-responsive {
    margin-right: 180px;
    margin-left: 180px;
}
.row {
    margin: none;
}

header{
    margin-bottom: 150px;
}

header nav {
  height: 12%;
}

.navbar {
background-color: rgba(238, 238, 238, 0.945);
}

.py-5 {
  padding-top: 150px!important;
  padding-bottom: 1px!important;
}
.py-4 {
  padding-top: 15px!important;
  padding-bottom: 1px!important;
  margin-bottom: 10px!important;
}
a{
  font-weight: 500;
  color: rgb(4, 56, 15)!important;
  text-decoration: none;
}