/* TRAZENDO FONTS */
@font-face {
  font-family: Oitobit;
  src: url(../font/8-BIT\ WONDER.TTF);
}

@font-face {
  font-family: Oitobit-txt;
  src: url(../font/superstar_memesbruh03.ttf);
}

@font-face {
  font-family: Oitobit-txt2;
  src: url(../font/superstarorig_memesbruh03.ttf);
}

/* DECLARANDO VARIÁVEIS DAS FONTS */
:root {
  --font-doistexto: 'Oitobittxt2'; 
  --font-titulo: 'Oitobit';
  --font-texto: 'Oitobit-txt'
  
}
.card.mb-4.rounded-3.shadow-sm{
  align-content: center;
  width: 400px;
}
.pricing-header h1 {
  font-family: var(--font-texto);
  font-size: 80px;
}

main{
  margin-inline: 100px;
}

#pic-logo{
  width: 103px;
}
.botao1 {
    margin-inline-end: 10px;
}


.navbar {
  background-color: rgba(10, 10, 10, 0.945);
}
html body{
  background-color: #0a0a0af1!important;
  background-image: none;
}

h5 {
  font-size: 25px;
}

a, p {
  font-family: var(--font-texto);
}

header{
    margin-bottom: 140px;
}

header nav {
  height: 15%;
}


a{
  font-weight: 500!important;
  color: rgb(255, 255, 255)!important;
  text-decoration: none;
}
h5{
  font-family: var(--font-texto)!important;
  font-size: 30px;
}
form h5 {
  font-size: 30px;
  color: #0dcaf0!important;
  font-family: var(--font-texto);
}
form p {
  color:#6c757d!important;
}