.botao1 {
    margin-inline-end: 5px;
}
header nav {
    height: 15%;
  }

.navbar {
  background-color: rgba(10, 10, 10, 0.945);
}


.py-4 {
  padding-top: 15px!important;
  padding-bottom: 1px!important;
  margin-bottom: 10px!important;
}

.offset-md-3 {
  margin-left: 25%;
  margin-bottom: 0px!important;
}
a{
  font-weight: 500!important;
  color: rgb(255, 255, 255)!important;
  text-decoration: none;
}
form h5 {
  color:#6c757d;
}
form p {
  color:#6c757d;
}
