
/* TRAZENDO FONTS */
@font-face {
  font-family: Oitobit;
  src: url(../font/8-BIT\ WONDER.TTF);
}

@font-face {
  font-family: Oitobit-txt;
  src: url(../font/superstar_memesbruh03.ttf);
}

@font-face {
  font-family: Oitobit-txt2;
  src: url(../font/superstarorig_memesbruh03.ttf);
}

/* DECLARANDO VARIÁVEIS DAS FONTS */
:root {
  --font-doistexto: 'Oitobittxt2'; 
  --font-titulo: 'Oitobit';
  --font-texto: 'Oitobit-txt'
  
}


.navbar-brand{
  font-size: 35px;
}

/* HEADER */
.botao1 {
    margin-inline-end: 5px;
}
header nav {
    height: 15%;
  }

.navbar {
  background-color: rgba(10, 10, 10, 0.945);
}

/* MAIN */
.py-4 {
  padding-top: 15px!important;
  padding-bottom: 1px!important;
  margin-bottom: 10px!important;
}

.offset-md-3 {
  margin-left: 25%;
  margin-bottom: 0px!important;
}
.card-tittle{
  font-family: var(--font-titulo);
}
a{
  font-weight: 500!important;
  color: rgb(255, 255, 255)!important;
  text-decoration: none;
}
h5{
  font-family: var(--font-texto)!important;
  font-size: 30px;
}
form h5 {
  font-size: 30px;
  color: #0dcaf0!important;
  font-family: var(--font-texto);
}
form p {
  color:#6c757d!important;
}

.icon-footer {
  color: white!important;
}
.container-img {
  transition: all ease-in-out;
}

/* fotos e titulos principais da main */

#titulo-foto {
  font-family: var(--font-titulo);
}

#titulo-cyber {
  font-family: var(--font-titulo);
  font-size: 80px;
}

#subtitulo-cyber {
  font-family: var(--font-texto);
  font-size: 20px;
}

.nav-item {
  font-size: 20px;
}

h5 {
  font-size: 25px;
}

a, p {
  font-family: var(--font-texto);
}

h1{
  color: #0dcaf0;
  font-size: 40px!important;
  
}
#pic-logo{
  width: 103px;
}

h3, h4, h5, .titulos-submenores {
  font-family: var(--font-doistexto);
}

.titulos-menores {
  font-family: var(--font-texto);
}

.fw-normal, .btn {
  font-family: var(--font-texto);
  font-size: 25px;
}
#img {
  width: 500px;
}

#img-dois {
  width: 400px;
  margin-left: 5px;
}

